@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

h1 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    margin: 0;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-decoration: underline;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}