.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-icon {
    fill: #2E2F42;
}

.features-h3-txt {
    line-height: 1.2;
    margin-bottom: 8px;
}

.features-p-txt {
    line-height: 1.5;
    color: #434455;
}